openapi: 3.1.0
info:
  title: Workday Payroll API
  description: >-
    Core API for managing payroll processes within the Workday platform,
    including payroll calculations, employee pay data, deductions, earnings,
    payroll runs, and pay group configurations.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
externalDocs:
  description: Workday Payroll API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
servers:
  - url: https://api.workday.com/payroll/v1
    description: Workday Payroll Production
  - url: https://{tenant}.workday.com/api/payroll/v1
    description: Workday Payroll Tenant-Specific
    variables:
      tenant:
        description: Workday tenant identifier
        default: your-tenant
tags:
  - name: Pay Runs
    description: Manage payroll processing runs and their lifecycle
  - name: Pay Groups
    description: Configure and manage pay groups for organizing payroll
  - name: Workers
    description: Access worker payroll data and compensation details
  - name: Earnings
    description: Manage earning codes and worker earnings
  - name: Deductions
    description: Manage deduction codes and worker deductions
  - name: Payroll Calculations
    description: Trigger and monitor payroll calculation processes
security:
  - bearerAuth: []
paths:
  /payRuns:
    get:
      operationId: listPayRuns
      summary: List pay runs
      description: >-
        Retrieve a collection of payroll runs, optionally filtered by status,
        pay group, or date range.
      tags:
        - Pay Runs
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: payGroupId
          in: query
          description: Filter by pay group identifier
          schema:
            type: string
        - name: status
          in: query
          description: Filter by pay run status
          schema:
            type: string
            enum:
              - Draft
              - InProgress
              - Completed
              - Cancelled
        - name: fromDate
          in: query
          description: Filter pay runs starting from this date
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: Filter pay runs up to this date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Collection of pay runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRunCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPayRun
      summary: Create a pay run
      description: >-
        Initiate a new payroll run for a specified pay group and pay period.
      tags:
        - Pay Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayRunRequest'
      responses:
        '201':
          description: Pay run created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payRuns/{payRunId}:
    get:
      operationId: getPayRun
      summary: Get a pay run
      description: >-
        Retrieve details of a specific payroll run by its identifier.
      tags:
        - Pay Runs
      parameters:
        - $ref: '#/components/parameters/payRunId'
      responses:
        '200':
          description: Pay run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updatePayRun
      summary: Update a pay run
      description: >-
        Update the status or properties of an existing pay run.
      tags:
        - Pay Runs
      parameters:
        - $ref: '#/components/parameters/payRunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePayRunRequest'
      responses:
        '200':
          description: Pay run updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/calculate:
    post:
      operationId: calculatePayRun
      summary: Calculate a pay run
      description: >-
        Trigger payroll calculations for a specific pay run, processing all
        earnings, deductions, and taxes for included workers.
      tags:
        - Payroll Calculations
      parameters:
        - $ref: '#/components/parameters/payRunId'
      responses:
        '202':
          description: Calculation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/complete:
    post:
      operationId: completePayRun
      summary: Complete a pay run
      description: >-
        Mark a pay run as completed, finalizing all payroll calculations
        and preparing payments for distribution.
      tags:
        - Pay Runs
      parameters:
        - $ref: '#/components/parameters/payRunId'
      responses:
        '200':
          description: Pay run completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payGroups:
    get:
      operationId: listPayGroups
      summary: List pay groups
      description: >-
        Retrieve all configured pay groups, which organize workers for
        payroll processing by frequency, currency, or other criteria.
      tags:
        - Pay Groups
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of pay groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayGroupCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payGroups/{payGroupId}:
    get:
      operationId: getPayGroup
      summary: Get a pay group
      description: >-
        Retrieve details of a specific pay group by its identifier.
      tags:
        - Pay Groups
      parameters:
        - $ref: '#/components/parameters/payGroupId'
      responses:
        '200':
          description: Pay group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payGroups/{payGroupId}/workers:
    get:
      operationId: listPayGroupWorkers
      summary: List workers in a pay group
      description: >-
        Retrieve all workers assigned to a specific pay group.
      tags:
        - Pay Groups
      parameters:
        - $ref: '#/components/parameters/payGroupId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of workers in the pay group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/payrollDetails:
    get:
      operationId: getWorkerPayrollDetails
      summary: Get worker payroll details
      description: >-
        Retrieve payroll-specific details for a worker, including pay group
        assignment, payment method, and compensation summary.
      tags:
        - Workers
      parameters:
        - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Worker payroll details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerPayrollDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/earnings:
    get:
      operationId: listWorkerEarnings
      summary: List worker earnings
      description: >-
        Retrieve all earnings records for a specific worker, including
        regular pay, overtime, bonuses, and other earning types.
      tags:
        - Earnings
      parameters:
        - $ref: '#/components/parameters/workerId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of worker earnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/deductions:
    get:
      operationId: listWorkerDeductions
      summary: List worker deductions
      description: >-
        Retrieve all deductions for a specific worker, including benefits,
        retirement contributions, garnishments, and voluntary deductions.
      tags:
        - Deductions
      parameters:
        - $ref: '#/components/parameters/workerId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of worker deductions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /earningCodes:
    get:
      operationId: listEarningCodes
      summary: List earning codes
      description: >-
        Retrieve all configured earning codes that define types of
        compensation such as regular pay, overtime, and bonuses.
      tags:
        - Earnings
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of earning codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCodeCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /deductionCodes:
    get:
      operationId: listDeductionCodes
      summary: List deduction codes
      description: >-
        Retrieve all configured deduction codes that define types of payroll
        deductions such as taxes, benefits, and garnishments.
      tags:
        - Deductions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of deduction codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCodeCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 bearer token obtained through Workday authentication.
        Requires payroll-related security scopes.
  parameters:
    payRunId:
      name: payRunId
      in: path
      required: true
      description: Unique identifier for the pay run
      schema:
        type: string
    payGroupId:
      name: payGroupId
      in: path
      required: true
      description: Unique identifier for the pay group
      schema:
        type: string
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker (Workday ID)
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PayRun:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the pay run
        descriptor:
          type: string
          description: Human-readable name of the pay run
        payGroup:
          $ref: '#/components/schemas/PayGroupRef'
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        status:
          type: string
          enum:
            - Draft
            - InProgress
            - Completed
            - Cancelled
          description: Current status of the pay run
        runCategory:
          type: string
          enum:
            - Regular
            - OffCycle
            - OnDemand
          description: Category of the pay run
        paymentDate:
          type: string
          format: date
          description: Date payments will be distributed
        totalGrossPay:
          type: number
          format: double
          description: Total gross pay for the pay run
        totalNetPay:
          type: number
          format: double
          description: Total net pay for the pay run
        totalDeductions:
          type: number
          format: double
          description: Total deductions for the pay run
        totalTaxes:
          type: number
          format: double
          description: Total tax withholdings for the pay run
        workerCount:
          type: integer
          description: Number of workers included in the pay run
        currency:
          type: string
          description: ISO 4217 currency code
        createdOn:
          type: string
          format: date-time
          description: When the pay run was created
        completedOn:
          type: string
          format: date-time
          description: When the pay run was completed
    PayRunCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PayRun'
        total:
          type: integer
          description: Total number of pay runs matching the query
    CreatePayRunRequest:
      type: object
      required:
        - payGroupId
        - payPeriod
      properties:
        payGroupId:
          type: string
          description: Identifier of the pay group for this run
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        runCategory:
          type: string
          enum:
            - Regular
            - OffCycle
            - OnDemand
          default: Regular
          description: Category of the pay run
        paymentDate:
          type: string
          format: date
          description: Desired payment date
    UpdatePayRunRequest:
      type: object
      properties:
        status:
          type: string
          enum:
            - Draft
            - Cancelled
          description: Updated status for the pay run
        paymentDate:
          type: string
          format: date
          description: Updated payment date
    CalculationStatus:
      type: object
      properties:
        id:
          type: string
          description: Calculation job identifier
        payRunId:
          type: string
          description: Associated pay run identifier
        status:
          type: string
          enum:
            - Queued
            - Processing
            - Completed
            - Failed
          description: Current status of the calculation
        startedAt:
          type: string
          format: date-time
          description: When the calculation started
        completedAt:
          type: string
          format: date-time
          description: When the calculation completed
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Any errors encountered during calculation
    PayGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the pay group
        descriptor:
          type: string
          description: Human-readable name of the pay group
        payFrequency:
          type: string
          enum:
            - Weekly
            - BiWeekly
            - SemiMonthly
            - Monthly
          description: How often payroll is processed
        currency:
          type: string
          description: ISO 4217 currency code for the pay group
        country:
          type: string
          description: ISO 3166-1 country code
        runCategory:
          type: string
          description: Default run category for this pay group
        workerCount:
          type: integer
          description: Number of workers in the pay group
        inactive:
          type: boolean
          description: Whether the pay group is inactive
    PayGroupRef:
      type: object
      properties:
        id:
          type: string
          description: Pay group identifier
        descriptor:
          type: string
          description: Pay group display name
    PayGroupCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PayGroup'
        total:
          type: integer
          description: Total number of pay groups
    PayPeriod:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Start date of the pay period
        endDate:
          type: string
          format: date
          description: End date of the pay period
    WorkerPayrollDetails:
      type: object
      properties:
        workerId:
          type: string
          description: Unique worker identifier
        workerDescriptor:
          type: string
          description: Worker display name
        payGroup:
          $ref: '#/components/schemas/PayGroupRef'
        paymentMethod:
          type: string
          enum:
            - DirectDeposit
            - Check
            - Wire
          description: Worker payment method
        annualSalary:
          type: number
          format: double
          description: Annual salary amount
        hourlyRate:
          type: number
          format: double
          description: Hourly pay rate
        compensationFrequency:
          type: string
          description: Frequency of compensation
        currency:
          type: string
          description: ISO 4217 currency code
        taxJurisdiction:
          type: string
          description: Primary tax jurisdiction
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
        descriptor:
          type: string
          description: Worker display name
    WorkerCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkerRef'
        total:
          type: integer
          description: Total number of workers
    Earning:
      type: object
      properties:
        id:
          type: string
          description: Unique earning record identifier
        earningCode:
          $ref: '#/components/schemas/EarningCodeRef'
        amount:
          type: number
          format: double
          description: Earning amount
        hours:
          type: number
          format: double
          description: Hours worked for this earning
        rate:
          type: number
          format: double
          description: Pay rate for this earning
        effectiveDate:
          type: string
          format: date
          description: Effective date of the earning
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
    EarningCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Earning'
        total:
          type: integer
          description: Total number of earnings
    EarningCode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the earning code
        descriptor:
          type: string
          description: Display name of the earning code
        type:
          type: string
          enum:
            - Regular
            - Overtime
            - Bonus
            - Commission
            - Holiday
            - PTO
            - Supplemental
            - Other
          description: Category of the earning
        taxable:
          type: boolean
          description: Whether this earning is subject to taxation
        active:
          type: boolean
          description: Whether the earning code is currently active
    EarningCodeRef:
      type: object
      properties:
        id:
          type: string
          description: Earning code identifier
        descriptor:
          type: string
          description: Earning code display name
    EarningCodeCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EarningCode'
        total:
          type: integer
          description: Total number of earning codes
    Deduction:
      type: object
      properties:
        id:
          type: string
          description: Unique deduction record identifier
        deductionCode:
          $ref: '#/components/schemas/DeductionCodeRef'
        amount:
          type: number
          format: double
          description: Deduction amount
        frequency:
          type: string
          enum:
            - PerPayPeriod
            - Monthly
            - Annual
            - OneTime
          description: Deduction frequency
        preTax:
          type: boolean
          description: Whether the deduction is pre-tax
        effectiveDate:
          type: string
          format: date
          description: Effective date of the deduction
        endDate:
          type: string
          format: date
          description: End date of the deduction
    DeductionCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Deduction'
        total:
          type: integer
          description: Total number of deductions
    DeductionCode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deduction code
        descriptor:
          type: string
          description: Display name of the deduction code
        type:
          type: string
          enum:
            - Benefit
            - Retirement
            - Garnishment
            - Tax
            - Voluntary
            - Other
          description: Category of the deduction
        preTax:
          type: boolean
          description: Whether this deduction is pre-tax by default
        active:
          type: boolean
          description: Whether the deduction code is currently active
    DeductionCodeRef:
      type: object
      properties:
        id:
          type: string
          description: Deduction code identifier
        descriptor:
          type: string
          description: Deduction code display name
    DeductionCodeCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeductionCode'
        total:
          type: integer
          description: Total number of deduction codes
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
          description: Detailed error information
