openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Deductions
  description: Manage deduction codes and worker deductions
paths:
  /workers/{workerId}/deductions:
    get:
      operationId: listWorkerDeductions
      summary: Workday Payroll List Worker Deductions
      description: Retrieve all deductions for a specific worker, including benefits, retirement contributions, garnishments, and voluntary deductions.
      tags:
      - Deductions
      parameters:
      - $ref: '#/components/parameters/workerId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of worker deductions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCollection'
              examples:
                ListWorkerDeductions200Example:
                  summary: Default listWorkerDeductions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: ded_20260430_00211
                      deductionCode:
                        id: MEDICAL_PRETAX
                        descriptor: Weekly USD Pay Group
                      amount: 2500.0
                      frequency: PerPayPeriod
                      preTax: true
                      effectiveDate: '2026-04-30'
                      endDate: '2026-04-30'
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /deductionCodes:
    get:
      operationId: listDeductionCodes
      summary: Workday Payroll List Deduction Codes
      description: Retrieve all configured deduction codes that define types of payroll deductions such as taxes, benefits, and garnishments.
      tags:
      - Deductions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of deduction codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCodeCollection'
              examples:
                ListDeductionCodes200Example:
                  summary: Default listDeductionCodes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: MEDICAL_PRETAX
                      descriptor: Weekly USD Pay Group
                      type: Benefit
                      preTax: true
                      active: true
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeductionCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Deduction'
        total:
          type: integer
          description: Total number of deductions
          example: 52
    Deduction:
      type: object
      properties:
        id:
          type: string
          description: Unique deduction record identifier
          example: ded_20260430_00211
        deductionCode:
          $ref: '#/components/schemas/DeductionCodeRef'
        amount:
          type: number
          format: double
          description: Deduction amount
          example: 2500.0
        frequency:
          type: string
          enum:
          - PerPayPeriod
          - Monthly
          - Annual
          - OneTime
          description: Deduction frequency
          example: PerPayPeriod
        preTax:
          type: boolean
          description: Whether the deduction is pre-tax
          example: true
        effectiveDate:
          type: string
          format: date
          description: Effective date of the deduction
          example: '2026-04-30'
        endDate:
          type: string
          format: date
          description: End date of the deduction
          example: '2026-04-30'
    DeductionCodeRef:
      type: object
      properties:
        id:
          type: string
          description: Deduction code identifier
          example: MEDICAL_PRETAX
        descriptor:
          type: string
          description: Deduction code display name
          example: Weekly USD Pay Group
    DeductionCodeCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeductionCode'
        total:
          type: integer
          description: Total number of deduction codes
          example: 52
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
          description: Detailed error information
    DeductionCode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deduction code
          example: MEDICAL_PRETAX
        descriptor:
          type: string
          description: Display name of the deduction code
          example: Weekly USD Pay Group
        type:
          type: string
          enum:
          - Benefit
          - Retirement
          - Garnishment
          - Tax
          - Voluntary
          - Other
          description: Category of the deduction
          example: Benefit
        preTax:
          type: boolean
          description: Whether this deduction is pre-tax by default
          example: true
        active:
          type: boolean
          description: Whether the deduction code is currently active
          example: true
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
                details:
                - field: amount
                  message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
                details:
                - field: amount
                  message: Validation failed for the provided fields.
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker (Workday ID)
      schema:
        type: string
      example: w_100542
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
