openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions Payroll Summaries API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Payroll Summaries
  description: Access aggregated payroll result summaries
paths:
  /payRuns/{payRunId}/results:
    get:
      operationId: getPayRunResults
      summary: Workday Payroll Get Pay Run Results
      description: Retrieve aggregated results for a completed pay run, including totals for earnings, deductions, taxes, and payments.
      tags:
      - Payroll Summaries
      parameters:
      - $ref: '#/components/parameters/payRunId'
      responses:
        '200':
          description: Pay run results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRunResult'
              examples:
                GetPayRunResults200Example:
                  summary: Default getPayRunResults 200 response
                  x-microcks-default: true
                  value:
                    payRunId: pr_20260430_weekly_001
                    payPeriod:
                      startDate: '2026-04-30'
                      endDate: '2026-04-30'
                    paymentDate: '2026-04-30'
                    totalGrossPay: 245830.5
                    totalNetPay: 178452.3
                    totalDeductions: 38210.8
                    totalEmployerTaxes: 14583.7
                    totalEmployeeTaxes: 14583.7
                    workerCount: 87
                    currency: USD
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /payRuns/{payRunId}/results/workers:
    get:
      operationId: listPayRunWorkerResults
      summary: Workday Payroll List Worker-level Results for a Pay Run
      description: Retrieve individual worker results for a completed pay run, including each worker's gross pay, deductions, taxes, and net pay.
      tags:
      - Payroll Summaries
      parameters:
      - $ref: '#/components/parameters/payRunId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of worker results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerResultCollection'
              examples:
                ListPayRunWorkerResults200Example:
                  summary: Default listPayRunWorkerResults 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - worker:
                        id: w_100542
                        descriptor: Weekly USD Pay Group
                      grossPay: 1.0
                      netPay: 1.0
                      totalEarnings: 5240.0
                      totalDeductions: 38210.8
                      totalTaxes: 29167.4
                      currency: USD
                      paymentMethod: DirectDeposit
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /payRuns/{payRunId}/results/workers/{workerId}:
    get:
      operationId: getPayRunWorkerResult
      summary: Workday Payroll Get a Worker Result for a Pay Run
      description: Retrieve detailed results for a specific worker within a completed pay run.
      tags:
      - Payroll Summaries
      parameters:
      - $ref: '#/components/parameters/payRunId'
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Worker result details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerResult'
              examples:
                GetPayRunWorkerResult200Example:
                  summary: Default getPayRunWorkerResult 200 response
                  x-microcks-default: true
                  value:
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    grossPay: 1.0
                    netPay: 1.0
                    totalEarnings: 5240.0
                    totalDeductions: 38210.8
                    totalTaxes: 29167.4
                    currency: USD
                    paymentMethod: DirectDeposit
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  schemas:
    PayPeriod:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Start date of the pay period
          example: '2026-04-30'
        endDate:
          type: string
          format: date
          description: End date of the pay period
          example: '2026-04-30'
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    WorkerResultCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkerResult'
        total:
          type: integer
          description: Total number of worker results
          example: 52
    WorkerResult:
      type: object
      properties:
        worker:
          $ref: '#/components/schemas/WorkerRef'
        grossPay:
          type: number
          format: double
          description: Worker gross pay for this run
          example: 1.0
        netPay:
          type: number
          format: double
          description: Worker net pay for this run
          example: 1.0
        totalEarnings:
          type: number
          format: double
          description: Total earnings
          example: 5240.0
        totalDeductions:
          type: number
          format: double
          description: Total deductions
          example: 38210.8
        totalTaxes:
          type: number
          format: double
          description: Total taxes withheld
          example: 29167.4
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        paymentMethod:
          type: string
          enum:
          - DirectDeposit
          - Check
          - Wire
          description: Method of payment
          example: DirectDeposit
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
    PayRunResult:
      type: object
      properties:
        payRunId:
          type: string
          description: Associated pay run identifier
          example: pr_20260430_weekly_001
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        paymentDate:
          type: string
          format: date
          description: Payment date
          example: '2026-04-30'
        totalGrossPay:
          type: number
          format: double
          description: Aggregate gross pay
          example: 245830.5
        totalNetPay:
          type: number
          format: double
          description: Aggregate net pay
          example: 178452.3
        totalDeductions:
          type: number
          format: double
          description: Aggregate deductions
          example: 38210.8
        totalEmployerTaxes:
          type: number
          format: double
          description: Total employer tax obligations
          example: 14583.7
        totalEmployeeTaxes:
          type: number
          format: double
          description: Total employee tax withholdings
          example: 14583.7
        workerCount:
          type: integer
          description: Number of workers processed
          example: 87
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker
      schema:
        type: string
      example: w_100542
    payRunId:
      name: payRunId
      in: path
      required: true
      description: Unique identifier for the pay run
      schema:
        type: string
      example: pr_20260430_weekly_001
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
