openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions Tax Calculations API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Tax Calculations
  description: View and manage tax calculation results
paths:
  /payRuns/{payRunId}/taxResults:
    get:
      operationId: listPayRunTaxResults
      summary: Workday Payroll List Tax Results for a Pay Run
      description: Retrieve aggregated tax calculation results for a completed pay run, broken down by tax type and jurisdiction.
      tags:
      - Tax Calculations
      parameters:
      - $ref: '#/components/parameters/payRunId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of tax results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxResultCollection'
              examples:
                ListPayRunTaxResults200Example:
                  summary: Default listPayRunTaxResults 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - jurisdiction:
                        id: tjur_us_federal
                        descriptor: Weekly USD Pay Group
                      taxType: FederalIncome
                      employeeAmount: 287.5
                      employerAmount: 287.5
                      taxableWages: 4750.0
                      currency: USD
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workers/{workerId}/taxSummary:
    get:
      operationId: getWorkerTaxSummary
      summary: Workday Payroll Get Worker Tax Summary
      description: Retrieve a year-to-date tax summary for a worker, including total withholdings by jurisdiction and tax type.
      tags:
      - Tax Calculations
      parameters:
      - $ref: '#/components/parameters/workerId'
      - name: taxYear
        in: query
        description: Tax year (defaults to current year)
        schema:
          type: integer
        example: 2026
      responses:
        '200':
          description: Worker tax summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerTaxSummary'
              examples:
                GetWorkerTaxSummary200Example:
                  summary: Default getWorkerTaxSummary 200 response
                  x-microcks-default: true
                  value:
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    taxYear: 2026
                    totalGrossWages: 245000.0
                    totalTaxableWages: 235000.0
                    totalFederalWithholding: 14250.0
                    totalStateWithholding: 6480.0
                    totalLocalWithholding: 1240.0
                    totalSocialSecurity: 5890.0
                    totalMedicare: 1380.0
                    currency: USD
                    jurisdictionBreakdown:
                    - jurisdiction:
                        id: tjur_us_federal
                        descriptor: Weekly USD Pay Group
                      taxType: FederalIncome
                      employeeAmount: 287.5
                      employerAmount: 287.5
                      taxableWages: 4750.0
                      currency: USD
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker
      schema:
        type: string
      example: w_100542
    payRunId:
      name: payRunId
      in: path
      required: true
      description: Unique identifier for the pay run
      schema:
        type: string
      example: pr_20260430_weekly_001
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  schemas:
    TaxJurisdictionRef:
      type: object
      properties:
        id:
          type: string
          description: Jurisdiction identifier
          example: tjur_us_federal
        descriptor:
          type: string
          description: Jurisdiction display name
          example: Weekly USD Pay Group
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    WorkerTaxSummary:
      type: object
      properties:
        worker:
          $ref: '#/components/schemas/WorkerRef'
        taxYear:
          type: integer
          description: Tax year for the summary
          example: 2026
        totalGrossWages:
          type: number
          format: double
          description: Year-to-date gross wages
          example: 245000.0
        totalTaxableWages:
          type: number
          format: double
          description: Year-to-date taxable wages
          example: 235000.0
        totalFederalWithholding:
          type: number
          format: double
          description: Year-to-date federal income tax withheld
          example: 14250.0
        totalStateWithholding:
          type: number
          format: double
          description: Year-to-date state income tax withheld
          example: 6480.0
        totalLocalWithholding:
          type: number
          format: double
          description: Year-to-date local tax withheld
          example: 1240.0
        totalSocialSecurity:
          type: number
          format: double
          description: Year-to-date Social Security tax
          example: 5890.0
        totalMedicare:
          type: number
          format: double
          description: Year-to-date Medicare tax
          example: 1380.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        jurisdictionBreakdown:
          type: array
          items:
            $ref: '#/components/schemas/TaxResult'
          description: Breakdown by jurisdiction
    TaxResultCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaxResult'
        total:
          type: integer
          description: Total number of tax result records
          example: 52
    TaxResult:
      type: object
      properties:
        jurisdiction:
          $ref: '#/components/schemas/TaxJurisdictionRef'
        taxType:
          type: string
          description: Type of tax
          example: FederalIncome
        employeeAmount:
          type: number
          format: double
          description: Employee tax amount
          example: 287.5
        employerAmount:
          type: number
          format: double
          description: Employer tax amount
          example: 287.5
        taxableWages:
          type: number
          format: double
          description: Taxable wages for this tax type
          example: 4750.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
