openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions Payslips API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Payslips
  description: Access worker payslip and pay statement data
paths:
  /workers/{workerId}/payslips:
    get:
      operationId: listWorkerPayslips
      summary: Workday Payroll List Worker Payslips
      description: Retrieve all payslips for a specific worker, with optional filtering by date range or pay period.
      tags:
      - Payslips
      parameters:
      - $ref: '#/components/parameters/workerId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: fromDate
        in: query
        description: Filter payslips from this date
        schema:
          type: string
          format: date
        example: '2026-04-30'
      - name: toDate
        in: query
        description: Filter payslips up to this date
        schema:
          type: string
          format: date
        example: '2026-04-30'
      responses:
        '200':
          description: Collection of payslips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipCollection'
              examples:
                ListWorkerPayslips200Example:
                  summary: Default listWorkerPayslips 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: ps_w100542_20260430
                      worker:
                        id: w_100542
                        descriptor: Weekly USD Pay Group
                      payPeriod:
                        startDate: '2026-04-30'
                        endDate: '2026-04-30'
                      paymentDate: '2026-04-30'
                      grossPay: 1.0
                      netPay: 1.0
                      totalEarnings: 5240.0
                      totalDeductions: 38210.8
                      totalTaxes: 29167.4
                      currency: USD
                      earnings:
                      - earningCode: REGULAR
                        currentAmount: 2840.0
                        currentHours: 40.0
                        rate: 32.5
                        yearToDateAmount: 8742.5
                      deductions:
                      - deductionCode: MEDICAL_PRETAX
                        employeeAmount: 287.5
                        employerAmount: 287.5
                        preTax: true
                        yearToDateEmployee: 8742.5
                        yearToDateEmployer: 8742.5
                      taxes:
                      - taxAuthority: Internal Revenue Service
                        taxType: FederalIncome
                        currentAmount: 2840.0
                        yearToDateAmount: 8742.5
                      yearToDateGross: 42850.0
                      yearToDateNet: 31420.65
                      yearToDateTaxes: 8742.5
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workers/{workerId}/payslips/{payslipId}:
    get:
      operationId: getWorkerPayslip
      summary: Workday Payroll Get a Worker Payslip
      description: Retrieve detailed payslip information for a specific pay period, including earnings, deductions, taxes, and net pay.
      tags:
      - Payslips
      parameters:
      - $ref: '#/components/parameters/workerId'
      - $ref: '#/components/parameters/payslipId'
      responses:
        '200':
          description: Payslip details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payslip'
              examples:
                GetWorkerPayslip200Example:
                  summary: Default getWorkerPayslip 200 response
                  x-microcks-default: true
                  value:
                    id: ps_w100542_20260430
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    payPeriod:
                      startDate: '2026-04-30'
                      endDate: '2026-04-30'
                    paymentDate: '2026-04-30'
                    grossPay: 1.0
                    netPay: 1.0
                    totalEarnings: 5240.0
                    totalDeductions: 38210.8
                    totalTaxes: 29167.4
                    currency: USD
                    earnings:
                    - earningCode: REGULAR
                      currentAmount: 2840.0
                      currentHours: 40.0
                      rate: 32.5
                      yearToDateAmount: 8742.5
                    deductions:
                    - deductionCode: MEDICAL_PRETAX
                      employeeAmount: 287.5
                      employerAmount: 287.5
                      preTax: true
                      yearToDateEmployee: 8742.5
                      yearToDateEmployer: 8742.5
                    taxes:
                    - taxAuthority: Internal Revenue Service
                      taxType: FederalIncome
                      currentAmount: 2840.0
                      yearToDateAmount: 8742.5
                    yearToDateGross: 42850.0
                    yearToDateNet: 31420.65
                    yearToDateTaxes: 8742.5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  schemas:
    PayPeriod:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Start date of the pay period
          example: '2026-04-30'
        endDate:
          type: string
          format: date
          description: End date of the pay period
          example: '2026-04-30'
    PayslipTaxLine:
      type: object
      properties:
        taxAuthority:
          type: string
          description: Tax authority name
          example: Internal Revenue Service
        taxType:
          type: string
          description: Type of tax
          example: FederalIncome
        currentAmount:
          type: number
          format: double
          description: Current period tax amount
          example: 2840.0
        yearToDateAmount:
          type: number
          format: double
          description: Year-to-date tax amount
          example: 8742.5
    PayslipDeductionLine:
      type: object
      properties:
        deductionCode:
          type: string
          description: Deduction code descriptor
          example: MEDICAL_PRETAX
        employeeAmount:
          type: number
          format: double
          description: Employee contribution amount
          example: 287.5
        employerAmount:
          type: number
          format: double
          description: Employer contribution amount
          example: 287.5
        preTax:
          type: boolean
          description: Whether this deduction is pre-tax
          example: true
        yearToDateEmployee:
          type: number
          format: double
          description: Year-to-date employee amount
          example: 8742.5
        yearToDateEmployer:
          type: number
          format: double
          description: Year-to-date employer amount
          example: 8742.5
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
    Payslip:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payslip
          example: ps_w100542_20260430
        worker:
          $ref: '#/components/schemas/WorkerRef'
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        paymentDate:
          type: string
          format: date
          description: Date of payment
          example: '2026-04-30'
        grossPay:
          type: number
          format: double
          description: Total gross pay
          example: 1.0
        netPay:
          type: number
          format: double
          description: Total net pay
          example: 1.0
        totalEarnings:
          type: number
          format: double
          description: Sum of all earnings
          example: 5240.0
        totalDeductions:
          type: number
          format: double
          description: Sum of all deductions
          example: 38210.8
        totalTaxes:
          type: number
          format: double
          description: Sum of all tax withholdings
          example: 29167.4
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/PayslipEarningLine'
          description: Itemized earnings
        deductions:
          type: array
          items:
            $ref: '#/components/schemas/PayslipDeductionLine'
          description: Itemized deductions
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/PayslipTaxLine'
          description: Itemized tax withholdings
        yearToDateGross:
          type: number
          format: double
          description: Year-to-date gross pay
          example: 42850.0
        yearToDateNet:
          type: number
          format: double
          description: Year-to-date net pay
          example: 31420.65
        yearToDateTaxes:
          type: number
          format: double
          description: Year-to-date tax withholdings
          example: 8742.5
    PayslipCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payslip'
        total:
          type: integer
          description: Total number of payslips
          example: 52
    PayslipEarningLine:
      type: object
      properties:
        earningCode:
          type: string
          description: Earning code descriptor
          example: REGULAR
        currentAmount:
          type: number
          format: double
          description: Current period amount
          example: 2840.0
        currentHours:
          type: number
          format: double
          description: Current period hours
          example: 40.0
        rate:
          type: number
          format: double
          description: Pay rate
          example: 32.5
        yearToDateAmount:
          type: number
          format: double
          description: Year-to-date amount for this earning
          example: 8742.5
  parameters:
    payslipId:
      name: payslipId
      in: path
      required: true
      description: Unique identifier for the payslip
      schema:
        type: string
      example: ps_w100542_20260430
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker
      schema:
        type: string
      example: w_100542
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
