openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions Supplemental Earnings API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Supplemental Earnings
  description: Submit supplemental earnings such as bonuses and commissions
paths:
  /supplementalEarnings:
    get:
      operationId: listSupplementalEarnings
      summary: Workday Payroll List Supplemental Earnings
      description: Retrieve all supplemental earning submissions, such as bonuses, commissions, and other non-regular earnings.
      tags:
      - Supplemental Earnings
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: workerId
        in: query
        description: Filter by worker identifier
        schema:
          type: string
        example: w_100542
      responses:
        '200':
          description: Collection of supplemental earnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplementalEarningCollection'
              examples:
                ListSupplementalEarnings200Example:
                  summary: Default listSupplementalEarnings 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: sup_20260430_00121
                      worker:
                        id: w_100542
                        descriptor: Weekly USD Pay Group
                      earningCode: REGULAR
                      type: Bonus
                      amount: 2500.0
                      currency: USD
                      effectiveDate: '2026-04-30'
                      status: Pending
                      reason: Q1 2026 performance bonus
                      createdOn: '2026-04-30T16:45:00Z'
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSupplementalEarning
      summary: Workday Payroll Create a Supplemental Earning
      description: Submit a supplemental earning for a worker to be included in the next payroll run.
      tags:
      - Supplemental Earnings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplementalEarningRequest'
            examples:
              CreateSupplementalEarningRequestExample:
                summary: Default createSupplementalEarning request
                x-microcks-default: true
                value:
                  workerId: w_100542
                  earningCode: REGULAR
                  type: Bonus
                  amount: 2500.0
                  currency: USD
                  effectiveDate: '2026-04-30'
                  reason: Q1 2026 performance bonus
      responses:
        '201':
          description: Supplemental earning created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplementalEarning'
              examples:
                CreateSupplementalEarning201Example:
                  summary: Default createSupplementalEarning 201 response
                  x-microcks-default: true
                  value:
                    id: sup_20260430_00121
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    earningCode: REGULAR
                    type: Bonus
                    amount: 2500.0
                    currency: USD
                    effectiveDate: '2026-04-30'
                    status: Pending
                    reason: Q1 2026 performance bonus
                    createdOn: '2026-04-30T16:45:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /supplementalEarnings/{earningId}:
    get:
      operationId: getSupplementalEarning
      summary: Workday Payroll Get a Supplemental Earning
      description: Retrieve details of a specific supplemental earning submission.
      tags:
      - Supplemental Earnings
      parameters:
      - $ref: '#/components/parameters/earningId'
      responses:
        '200':
          description: Supplemental earning details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplementalEarning'
              examples:
                GetSupplementalEarning200Example:
                  summary: Default getSupplementalEarning 200 response
                  x-microcks-default: true
                  value:
                    id: sup_20260430_00121
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    earningCode: REGULAR
                    type: Bonus
                    amount: 2500.0
                    currency: USD
                    effectiveDate: '2026-04-30'
                    status: Pending
                    reason: Q1 2026 performance bonus
                    createdOn: '2026-04-30T16:45:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSupplementalEarning
      summary: Workday Payroll Delete a Supplemental Earning
      description: Delete a pending supplemental earning that has not yet been processed.
      tags:
      - Supplemental Earnings
      parameters:
      - $ref: '#/components/parameters/earningId'
      responses:
        '204':
          description: Supplemental earning deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SupplementalEarning:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the supplemental earning
          example: sup_20260430_00121
        worker:
          $ref: '#/components/schemas/WorkerRef'
        earningCode:
          type: string
          description: Earning code for the supplemental earning
          example: REGULAR
        type:
          type: string
          enum:
          - Bonus
          - Commission
          - Stipend
          - Allowance
          - Other
          description: Type of supplemental earning
          example: Bonus
        amount:
          type: number
          format: double
          description: Earning amount
          example: 2500.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        effectiveDate:
          type: string
          format: date
          description: Effective date
          example: '2026-04-30'
        status:
          type: string
          enum:
          - Pending
          - Approved
          - Processed
          - Rejected
          description: Current status
          example: Pending
        reason:
          type: string
          description: Description or reason for the earning
          example: Q1 2026 performance bonus
        createdOn:
          type: string
          format: date-time
          description: When the earning was submitted
          example: '2026-04-30T16:45:00Z'
    SupplementalEarningCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SupplementalEarning'
        total:
          type: integer
          description: Total number of supplemental earnings
          example: 52
    CreateSupplementalEarningRequest:
      type: object
      required:
      - workerId
      - earningCode
      - amount
      properties:
        workerId:
          type: string
          description: Worker identifier
          example: w_100542
        earningCode:
          type: string
          description: Earning code
          example: REGULAR
        type:
          type: string
          enum:
          - Bonus
          - Commission
          - Stipend
          - Allowance
          - Other
          description: Type of supplemental earning
          example: Bonus
        amount:
          type: number
          format: double
          description: Earning amount
          example: 2500.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        effectiveDate:
          type: string
          format: date
          description: Effective date
          example: '2026-04-30'
        reason:
          type: string
          description: Description or reason
          example: Q1 2026 performance bonus
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            BadRequestExample:
              summary: Default BadRequest response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    earningId:
      name: earningId
      in: path
      required: true
      description: Unique identifier for the supplemental earning
      schema:
        type: string
      example: ern_20260430_00301
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
