openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions Payment Results API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: Payment Results
  description: Retrieve payment processing results and details
paths:
  /payRuns/{payRunId}/payments:
    get:
      operationId: listPayRunPayments
      summary: Workday Payroll List Payments for a Pay Run
      description: Retrieve all payment transactions generated by a completed pay run, including direct deposits and check payments.
      tags:
      - Payment Results
      parameters:
      - $ref: '#/components/parameters/payRunId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCollection'
              examples:
                ListPayRunPayments200Example:
                  summary: Default listPayRunPayments 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: pmt_20260502_00045
                      worker:
                        id: w_100542
                        descriptor: Weekly USD Pay Group
                      payRunId: pr_20260430_weekly_001
                      paymentMethod: DirectDeposit
                      amount: 2500.0
                      currency: USD
                      paymentDate: '2026-04-30'
                      settlementDate: '2026-04-30'
                      status: Pending
                      bankAccount:
                        lastFourDigits: '4521'
                        bankName: Wells Fargo
                        accountType: Checking
                      checkNumber: '100482'
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Workday Payroll Get a Payment
      description: Retrieve details of a specific payment transaction, including payment method, amount, and settlement status.
      tags:
      - Payment Results
      parameters:
      - $ref: '#/components/parameters/paymentId'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                GetPayment200Example:
                  summary: Default getPayment 200 response
                  x-microcks-default: true
                  value:
                    id: pmt_20260502_00045
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    payRunId: pr_20260430_weekly_001
                    paymentMethod: DirectDeposit
                    amount: 2500.0
                    currency: USD
                    paymentDate: '2026-04-30'
                    settlementDate: '2026-04-30'
                    status: Pending
                    bankAccount:
                      lastFourDigits: '4521'
                      bankName: Wells Fargo
                      accountType: Checking
                    checkNumber: '100482'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    paymentId:
      name: paymentId
      in: path
      required: true
      description: Unique identifier for the payment
      schema:
        type: string
      example: pmt_20260502_00045
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    payRunId:
      name: payRunId
      in: path
      required: true
      description: Unique identifier for the pay run
      schema:
        type: string
      example: pr_20260430_weekly_001
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  schemas:
    PaymentCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        total:
          type: integer
          description: Total number of payments
          example: 52
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    Payment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payment
          example: pmt_20260502_00045
        worker:
          $ref: '#/components/schemas/WorkerRef'
        payRunId:
          type: string
          description: Associated pay run identifier
          example: pr_20260430_weekly_001
        paymentMethod:
          type: string
          enum:
          - DirectDeposit
          - Check
          - Wire
          description: Method of payment
          example: DirectDeposit
        amount:
          type: number
          format: double
          description: Payment amount
          example: 2500.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        paymentDate:
          type: string
          format: date
          description: Date payment was issued
          example: '2026-04-30'
        settlementDate:
          type: string
          format: date
          description: Date payment was settled
          example: '2026-04-30'
        status:
          type: string
          enum:
          - Pending
          - Processed
          - Settled
          - Failed
          - Voided
          description: Current payment status
          example: Pending
        bankAccount:
          type: object
          properties:
            lastFourDigits:
              type: string
              description: Last four digits of the account number
              example: '4521'
            bankName:
              type: string
              description: Name of the financial institution
              example: Wells Fargo
            accountType:
              type: string
              enum:
              - Checking
              - Savings
              description: Type of bank account
              example: Checking
          description: Bank account details (masked)
        checkNumber:
          type: string
          description: Check number if payment method is check
          example: '100482'
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
