openapi: 3.1.0
info:
  title: Workday Payroll Results API
  description: >-
    API for retrieving payroll calculation results, payment details, payslip
    data, and historical payroll information within the Workday platform.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
externalDocs:
  description: Workday Payroll Results API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
servers:
  - url: https://api.workday.com/payroll-results/v1
    description: Workday Payroll Results Production
  - url: https://{tenant}.workday.com/api/payroll-results/v1
    description: Workday Payroll Results Tenant-Specific
    variables:
      tenant:
        description: Workday tenant identifier
        default: your-tenant
tags:
  - name: Payslips
    description: Access worker payslip and pay statement data
  - name: Payment Results
    description: Retrieve payment processing results and details
  - name: Payroll Summaries
    description: Access aggregated payroll result summaries
  - name: Payment Elections
    description: Manage worker payment election and distribution details
security:
  - bearerAuth: []
paths:
  /workers/{workerId}/payslips:
    get:
      operationId: listWorkerPayslips
      summary: Workday Payroll List worker payslips
      description: >-
        Retrieve all payslips for a specific worker, with optional filtering
        by date range or pay period.
      tags:
        - Payslips
      parameters:
        - $ref: '#/components/parameters/workerId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: fromDate
          in: query
          description: Filter payslips from this date
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: Filter payslips up to this date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Collection of payslips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/payslips/{payslipId}:
    get:
      operationId: getWorkerPayslip
      summary: Workday Payroll Get a worker payslip
      description: >-
        Retrieve detailed payslip information for a specific pay period,
        including earnings, deductions, taxes, and net pay.
      tags:
        - Payslips
      parameters:
        - $ref: '#/components/parameters/workerId'
        - $ref: '#/components/parameters/payslipId'
      responses:
        '200':
          description: Payslip details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payslip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/results:
    get:
      operationId: getPayRunResults
      summary: Workday Payroll Get pay run results
      description: >-
        Retrieve aggregated results for a completed pay run, including
        totals for earnings, deductions, taxes, and payments.
      tags:
        - Payroll Summaries
      parameters:
        - $ref: '#/components/parameters/payRunId'
      responses:
        '200':
          description: Pay run results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayRunResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/results/workers:
    get:
      operationId: listPayRunWorkerResults
      summary: Workday Payroll List worker-level results for a pay run
      description: >-
        Retrieve individual worker results for a completed pay run,
        including each worker's gross pay, deductions, taxes, and net pay.
      tags:
        - Payroll Summaries
      parameters:
        - $ref: '#/components/parameters/payRunId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of worker results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerResultCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/results/workers/{workerId}:
    get:
      operationId: getPayRunWorkerResult
      summary: Workday Payroll Get a worker result for a pay run
      description: >-
        Retrieve detailed results for a specific worker within a completed
        pay run.
      tags:
        - Payroll Summaries
      parameters:
        - $ref: '#/components/parameters/payRunId'
        - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Worker result details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payRuns/{payRunId}/payments:
    get:
      operationId: listPayRunPayments
      summary: Workday Payroll List payments for a pay run
      description: >-
        Retrieve all payment transactions generated by a completed pay run,
        including direct deposits and check payments.
      tags:
        - Payment Results
      parameters:
        - $ref: '#/components/parameters/payRunId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Workday Payroll Get a payment
      description: >-
        Retrieve details of a specific payment transaction, including
        payment method, amount, and settlement status.
      tags:
        - Payment Results
      parameters:
        - $ref: '#/components/parameters/paymentId'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/paymentElections:
    get:
      operationId: listWorkerPaymentElections
      summary: Workday Payroll List worker payment elections
      description: >-
        Retrieve payment election details for a worker, including direct
        deposit accounts, distribution amounts, and payment preferences.
      tags:
        - Payment Elections
      parameters:
        - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Collection of payment elections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentElectionCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 bearer token obtained through Workday authentication.
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Unique identifier for the worker
      schema:
        type: string
    payslipId:
      name: payslipId
      in: path
      required: true
      description: Unique identifier for the payslip
      schema:
        type: string
    payRunId:
      name: payRunId
      in: path
      required: true
      description: Unique identifier for the pay run
      schema:
        type: string
    paymentId:
      name: paymentId
      in: path
      required: true
      description: Unique identifier for the payment
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Payslip:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payslip
        worker:
          $ref: '#/components/schemas/WorkerRef'
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        paymentDate:
          type: string
          format: date
          description: Date of payment
        grossPay:
          type: number
          format: double
          description: Total gross pay
        netPay:
          type: number
          format: double
          description: Total net pay
        totalEarnings:
          type: number
          format: double
          description: Sum of all earnings
        totalDeductions:
          type: number
          format: double
          description: Sum of all deductions
        totalTaxes:
          type: number
          format: double
          description: Sum of all tax withholdings
        currency:
          type: string
          description: ISO 4217 currency code
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/PayslipEarningLine'
          description: Itemized earnings
        deductions:
          type: array
          items:
            $ref: '#/components/schemas/PayslipDeductionLine'
          description: Itemized deductions
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/PayslipTaxLine'
          description: Itemized tax withholdings
        yearToDateGross:
          type: number
          format: double
          description: Year-to-date gross pay
        yearToDateNet:
          type: number
          format: double
          description: Year-to-date net pay
        yearToDateTaxes:
          type: number
          format: double
          description: Year-to-date tax withholdings
    PayslipCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payslip'
        total:
          type: integer
          description: Total number of payslips
    PayslipEarningLine:
      type: object
      properties:
        earningCode:
          type: string
          description: Earning code descriptor
        currentAmount:
          type: number
          format: double
          description: Current period amount
        currentHours:
          type: number
          format: double
          description: Current period hours
        rate:
          type: number
          format: double
          description: Pay rate
        yearToDateAmount:
          type: number
          format: double
          description: Year-to-date amount for this earning
    PayslipDeductionLine:
      type: object
      properties:
        deductionCode:
          type: string
          description: Deduction code descriptor
        employeeAmount:
          type: number
          format: double
          description: Employee contribution amount
        employerAmount:
          type: number
          format: double
          description: Employer contribution amount
        preTax:
          type: boolean
          description: Whether this deduction is pre-tax
        yearToDateEmployee:
          type: number
          format: double
          description: Year-to-date employee amount
        yearToDateEmployer:
          type: number
          format: double
          description: Year-to-date employer amount
    PayslipTaxLine:
      type: object
      properties:
        taxAuthority:
          type: string
          description: Tax authority name
        taxType:
          type: string
          description: Type of tax
        currentAmount:
          type: number
          format: double
          description: Current period tax amount
        yearToDateAmount:
          type: number
          format: double
          description: Year-to-date tax amount
    PayRunResult:
      type: object
      properties:
        payRunId:
          type: string
          description: Associated pay run identifier
        payPeriod:
          $ref: '#/components/schemas/PayPeriod'
        paymentDate:
          type: string
          format: date
          description: Payment date
        totalGrossPay:
          type: number
          format: double
          description: Aggregate gross pay
        totalNetPay:
          type: number
          format: double
          description: Aggregate net pay
        totalDeductions:
          type: number
          format: double
          description: Aggregate deductions
        totalEmployerTaxes:
          type: number
          format: double
          description: Total employer tax obligations
        totalEmployeeTaxes:
          type: number
          format: double
          description: Total employee tax withholdings
        workerCount:
          type: integer
          description: Number of workers processed
        currency:
          type: string
          description: ISO 4217 currency code
    WorkerResult:
      type: object
      properties:
        worker:
          $ref: '#/components/schemas/WorkerRef'
        grossPay:
          type: number
          format: double
          description: Worker gross pay for this run
        netPay:
          type: number
          format: double
          description: Worker net pay for this run
        totalEarnings:
          type: number
          format: double
          description: Total earnings
        totalDeductions:
          type: number
          format: double
          description: Total deductions
        totalTaxes:
          type: number
          format: double
          description: Total taxes withheld
        currency:
          type: string
          description: ISO 4217 currency code
        paymentMethod:
          type: string
          enum:
            - DirectDeposit
            - Check
            - Wire
          description: Method of payment
    WorkerResultCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkerResult'
        total:
          type: integer
          description: Total number of worker results
    Payment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payment
        worker:
          $ref: '#/components/schemas/WorkerRef'
        payRunId:
          type: string
          description: Associated pay run identifier
        paymentMethod:
          type: string
          enum:
            - DirectDeposit
            - Check
            - Wire
          description: Method of payment
        amount:
          type: number
          format: double
          description: Payment amount
        currency:
          type: string
          description: ISO 4217 currency code
        paymentDate:
          type: string
          format: date
          description: Date payment was issued
        settlementDate:
          type: string
          format: date
          description: Date payment was settled
        status:
          type: string
          enum:
            - Pending
            - Processed
            - Settled
            - Failed
            - Voided
          description: Current payment status
        bankAccount:
          type: object
          properties:
            lastFourDigits:
              type: string
              description: Last four digits of the account number
            bankName:
              type: string
              description: Name of the financial institution
            accountType:
              type: string
              enum:
                - Checking
                - Savings
              description: Type of bank account
          description: Bank account details (masked)
        checkNumber:
          type: string
          description: Check number if payment method is check
    PaymentCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        total:
          type: integer
          description: Total number of payments
    PaymentElection:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payment election
        order:
          type: integer
          description: Priority order of the election
        distributionType:
          type: string
          enum:
            - Amount
            - Percentage
            - Remainder
          description: How payment is distributed
        amount:
          type: number
          format: double
          description: Fixed amount (when distributionType is Amount)
        percentage:
          type: number
          format: double
          description: Percentage of net pay (when distributionType is Percentage)
        accountType:
          type: string
          enum:
            - Checking
            - Savings
          description: Bank account type
        bankName:
          type: string
          description: Financial institution name
        lastFourDigits:
          type: string
          description: Last four digits of account number
        currency:
          type: string
          description: ISO 4217 currency code
        active:
          type: boolean
          description: Whether this election is currently active
    PaymentElectionCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentElection'
        total:
          type: integer
          description: Total number of payment elections
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
        descriptor:
          type: string
          description: Worker display name
    PayPeriod:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Start date of the pay period
        endDate:
          type: string
          format: date
          description: End date of the pay period
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
