openapi: 3.1.0
info:
  title: Workday Payroll Input Deductions One-Time Payments API
  description: API for submitting and managing payroll input data within the Workday platform, including one-time payments, payroll adjustments, supplemental earnings, and batch input submissions.
  version: v1
  contact:
    name: Workday Support
    url: https://www.workday.com/en-us/company/customer-support.html
    email: support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://api.workday.com/payroll-input/v1
  description: Workday Payroll Input Production
- url: https://{tenant}.workday.com/api/payroll-input/v1
  description: Workday Payroll Input Tenant-Specific
  variables:
    tenant:
      description: Workday tenant identifier
      default: your-tenant
security:
- bearerAuth: []
tags:
- name: One-Time Payments
  description: Submit and manage one-time payment requests
paths:
  /oneTimePayments:
    get:
      operationId: listOneTimePayments
      summary: Workday Payroll List One-time Payments
      description: Retrieve all one-time payment requests, optionally filtered by status, worker, or date range.
      tags:
      - One-Time Payments
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: workerId
        in: query
        description: Filter by worker identifier
        schema:
          type: string
        example: w_100542
      - name: status
        in: query
        description: Filter by status
        schema:
          type: string
          enum:
          - Pending
          - Approved
          - Processed
          - Rejected
        example: Pending
      responses:
        '200':
          description: Collection of one-time payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePaymentCollection'
              examples:
                ListOneTimePayments200Example:
                  summary: Default listOneTimePayments 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: pmt_20260502_00045
                      worker:
                        id: w_100542
                        descriptor: Weekly USD Pay Group
                      earningCode: REGULAR
                      amount: 2500.0
                      currency: USD
                      reason: Q1 2026 performance bonus
                      effectiveDate: '2026-04-30'
                      status: Pending
                      createdOn: '2026-04-30T16:45:00Z'
                      submittedBy: payroll.admin@example.com
                    total: 52
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createOneTimePayment
      summary: Workday Payroll Create a One-time Payment
      description: Submit a new one-time payment request for a worker, such as a bonus, retroactive pay adjustment, or relocation allowance.
      tags:
      - One-Time Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneTimePaymentRequest'
            examples:
              CreateOneTimePaymentRequestExample:
                summary: Default createOneTimePayment request
                x-microcks-default: true
                value:
                  workerId: w_100542
                  earningCode: REGULAR
                  amount: 2500.0
                  currency: USD
                  reason: Q1 2026 performance bonus
                  effectiveDate: '2026-04-30'
      responses:
        '201':
          description: One-time payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePayment'
              examples:
                CreateOneTimePayment201Example:
                  summary: Default createOneTimePayment 201 response
                  x-microcks-default: true
                  value:
                    id: pmt_20260502_00045
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    earningCode: REGULAR
                    amount: 2500.0
                    currency: USD
                    reason: Q1 2026 performance bonus
                    effectiveDate: '2026-04-30'
                    status: Pending
                    createdOn: '2026-04-30T16:45:00Z'
                    submittedBy: payroll.admin@example.com
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /oneTimePayments/{paymentId}:
    get:
      operationId: getOneTimePayment
      summary: Workday Payroll Get a One-time Payment
      description: Retrieve details of a specific one-time payment request.
      tags:
      - One-Time Payments
      parameters:
      - $ref: '#/components/parameters/paymentId'
      responses:
        '200':
          description: One-time payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePayment'
              examples:
                GetOneTimePayment200Example:
                  summary: Default getOneTimePayment 200 response
                  x-microcks-default: true
                  value:
                    id: pmt_20260502_00045
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    earningCode: REGULAR
                    amount: 2500.0
                    currency: USD
                    reason: Q1 2026 performance bonus
                    effectiveDate: '2026-04-30'
                    status: Pending
                    createdOn: '2026-04-30T16:45:00Z'
                    submittedBy: payroll.admin@example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateOneTimePayment
      summary: Workday Payroll Update a One-time Payment
      description: Update a pending one-time payment request.
      tags:
      - One-Time Payments
      parameters:
      - $ref: '#/components/parameters/paymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneTimePaymentRequest'
            examples:
              UpdateOneTimePaymentRequestExample:
                summary: Default updateOneTimePayment request
                x-microcks-default: true
                value:
                  amount: 2500.0
                  reason: Q1 2026 performance bonus
                  effectiveDate: '2026-04-30'
      responses:
        '200':
          description: One-time payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePayment'
              examples:
                UpdateOneTimePayment200Example:
                  summary: Default updateOneTimePayment 200 response
                  x-microcks-default: true
                  value:
                    id: pmt_20260502_00045
                    worker:
                      id: w_100542
                      descriptor: Weekly USD Pay Group
                    earningCode: REGULAR
                    amount: 2500.0
                    currency: USD
                    reason: Q1 2026 performance bonus
                    effectiveDate: '2026-04-30'
                    status: Pending
                    createdOn: '2026-04-30T16:45:00Z'
                    submittedBy: payroll.admin@example.com
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteOneTimePayment
      summary: Workday Payroll Delete a One-time Payment
      description: Delete a pending one-time payment request that has not yet been processed.
      tags:
      - One-Time Payments
      parameters:
      - $ref: '#/components/parameters/paymentId'
      responses:
        '204':
          description: One-time payment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OneTimePaymentCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OneTimePayment'
        total:
          type: integer
          description: Total number of one-time payments
          example: 52
    CreateOneTimePaymentRequest:
      type: object
      required:
      - workerId
      - earningCode
      - amount
      properties:
        workerId:
          type: string
          description: Worker identifier
          example: w_100542
        earningCode:
          type: string
          description: Earning code for the payment
          example: REGULAR
        amount:
          type: number
          format: double
          description: Payment amount
          example: 2500.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        reason:
          type: string
          description: Reason for the payment
          example: Q1 2026 performance bonus
        effectiveDate:
          type: string
          format: date
          description: Effective date
          example: '2026-04-30'
    OneTimePayment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the one-time payment
          example: pmt_20260502_00045
        worker:
          $ref: '#/components/schemas/WorkerRef'
        earningCode:
          type: string
          description: Earning code for the payment
          example: REGULAR
        amount:
          type: number
          format: double
          description: Payment amount
          example: 2500.0
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        reason:
          type: string
          description: Reason for the one-time payment
          example: Q1 2026 performance bonus
        effectiveDate:
          type: string
          format: date
          description: Effective date for the payment
          example: '2026-04-30'
        status:
          type: string
          enum:
          - Pending
          - Approved
          - Processed
          - Rejected
          description: Current status
          example: Pending
        createdOn:
          type: string
          format: date-time
          description: When the request was created
          example: '2026-04-30T16:45:00Z'
        submittedBy:
          type: string
          description: User who submitted the request
          example: payroll.admin@example.com
    WorkerRef:
      type: object
      properties:
        id:
          type: string
          description: Worker identifier
          example: w_100542
        descriptor:
          type: string
          description: Worker display name
          example: Weekly USD Pay Group
    UpdateOneTimePaymentRequest:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Updated payment amount
          example: 2500.0
        reason:
          type: string
          description: Updated reason
          example: Q1 2026 performance bonus
        effectiveDate:
          type: string
          format: date
          description: Updated effective date
          example: '2026-04-30'
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Validation failed for the provided fields.
  parameters:
    paymentId:
      name: paymentId
      in: path
      required: true
      description: Unique identifier for the one-time payment
      schema:
        type: string
      example: pmt_20260502_00045
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedExample:
              summary: Default Unauthorized response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            BadRequestExample:
              summary: Default BadRequest response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            NotFoundExample:
              summary: Default NotFound response
              x-microcks-default: true
              value:
                error: INVALID_REQUEST
                message: Validation failed for the provided fields.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained through Workday authentication.
externalDocs:
  description: Workday Payroll Input API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html
